node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.vs/

.vscode/

# Go binaries
server/server.exe
server/schedule-api
server/*.exe
server/*.tmp
build/schedule-api